
{{> header }}

<div class="container">
    <h1>Home</h1>

    {{# each articles }}

    <article class="">
        <a href="/" class="item">
            <h2><a href="/article/{{ this._id }}">{{ this.title }}</a></h2>
            <p><a href="/user/{{ this.author }}">{{ this.author }}</a></p>
            <p>Published: {{ this.published }}</p>
        </a>
    </article>
    {{/each}}
</div>
