
{{> header }}
<section class="recipes">
    {{# each recipes }}

    <article class="recipe-thumbnail-large">
        <a href="/recipe/{{ this._id }}"><img src="{{ this.image }}" alt=""></a>
        <div class="caption">
            <ul>
                <li><img src="/img/time.svg">{{ this.recipeTime }}</li>
                <li><img src="/img/difficulty.svg">{{ this.difficulty }}</li>
                <li><img src="/img/people.svg">{{ this.serves }}</li>
            </ul>
            <h4><a href="/recipe/{{ this._id }}">{{ this.title }}</a></4>
            <p><a href="/user/{{ this.author }}">{{ this.author }}</a></p>

        </div>
    </article>
    {{/each}}

</section>
<section class="sign-up-banner">
    <div>
        <h1>Great recipes that’ll make you go “yum…”</h1>
        <p>Some persuasive text with membership benefits to convince someone to sign up.</p>
        <br>
        <a href="/user/register" class="btn btn-primary">Sign Up!</a>
        <a href="/learn-more" class="btn">Learn more</a>
    </div>
</section>
